#messages {
  width: 95%;
  max-width: 400px;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 20px #ccc inset;
  -moz-box-shadow: 0px 0px 20px #ccc inset;
  box-shadow: 0px 0px 20px #ccc inset;
}
.message {
  margin: 20px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}